.navbar{
    background-color: #ff5e00;
}

.navbar-brand{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    color: white;
}

.nav-link{
    font-family: 'Titillium Web', sans-serif;
    color: #ff5e00;
}

a.nav-link.disabled{
    color: black;
}